{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-center">
        <div class="col-4" style="margin-top: 150px;">
            <form action="" method="post" class="bg-white p-3">
                {% csrf_token %}

                {% for field in register_form %}
                <label for="">{{ field.label }}</label>
                <p class="py-2">{{ field }}</p>
                {% endfor %}

                <button type="submit" class="btn btn-warning">Войти</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
